.img-control {
    overflow: hidden;
    width: 100%;
    height: 200px;
    background-color: rgb(232, 231, 231);
    border-radius: 10px;
    border: 1px solid rgb(128, 125, 125);
    margin-bottom: 15px;

}

.img {
    position: relative;
    text-align: center;
    overflow: hidden;

}

.img img {
    width: 100%;
    height: 200px;
}

.img-control .control {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.7);
    opacity: 0;
    transition: opacity .5s;
}

.img-control:hover .control {
    opacity: 1;
    transition: opacity .5s;
}

.img-control .button {
    margin: auto;
}

.img-control .button button {
    border: none;
    background-color: #33333396;
    color: rgb(255, 246, 232);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.img-control .button button:hover {
    color: rgb(66, 202, 116);

}

.ck-editor__editable_inline {
    min-height: 500px;
}
